<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Pokedex</title>
</head>

<body>
    <header>
        <div class="navbar navbar-light bg-warning shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <i class="fas fa-bullseye"></i>
              <strong>Pokedex | gohyiqian</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
      
      <main>
        <section class="text-center container">
          <div class="row py-lg-4">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-dark">My Pokemon</h1>
              <p>These are all the pokemon I have caught since 1991</p>
              <p>
                <a href="/poke/new" class="btn btn-warning my-2">Create Your Own</a>
              </p>
            </div>
          </div>
        </section>